[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/ImGuizmo"]
	path = dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dependencies/openal-soft"]
	path = dependencies/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "dependencies/JoltPhysics"]
	path = dependencies/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "dependencies/entt"]
	path = dependencies/entt
	url = https://github.com/skypjack/entt.git
[submodule "dependencies/dr_libs"]
	path = dependencies/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "dependencies/IconFontCppHeaders"]
	path = dependencies/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "dependencies/tinyexr"]
	path = dependencies/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/mType"]
	path = dependencies/mType
	url = https://github.com/matan45/mType.git
[submodule "dependencies/meshoptimizer"]
	path = dependencies/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
